:root {
  --shde-body-text-color: #{$dark};
  --shde-body-bg-color: #{$white};

  --shde-btn-primary-color: #{$white};
  --shde-btn-primary-bg: #{$blue};
  --shde-btn-primary-bg-hover: #{$blue-light};

  --shde-btn-secondary-color: #{$white};
  --shde-btn-secondary-bg: #{$dark};

  --shde-form-color: #{$dark};
  --shde-form-bg: #{$white};
  --shde-form-error-color: #{$red};
  --shde-form-error-border: #{$red};
  --shde-form-border-focus-color: #{$blue};

  --shde-body-font-size: #{$fs-base};
  --shde-body-font-weight: #{$fw-normal};

  --shde-h1-font-size: #{$h-1};
  --shde-h2-font-size: #{$h-2};
  --shde-h3-font-size: #{$h-3};
  --shde-h4-font-size: #{$h-4};
  --shde-h5-font-size: #{$h-5};
  --shde-h6-font-size: #{$h-6};

  --shde-h1-font-weight: #{$fw-medium};
  --shde-h2-font-weight: #{$fw-medium};
  --shde-h3-font-weight: #{$fw-medium};
  --shde-h4-font-weight: #{$fw-normal};
  --shde-h5-font-weight: #{$fw-normal};
  --shde-h6-font-weight: #{$fw-light};

  --shde-text-left: #{$text-left};
  --shde-text-center: #{$text-center};
  --shde-text-right: #{$text-right};
  --shde-text-justify: #{$text-justify};
  --shde-text-start: #{$text-start};
  --shde-text-end: #{$text-end};
}
